apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: app
spec:
  replicas: 1
  selector: { matchLabels: { app: user-service } }
  template:
    metadata: { labels: { app: user-service } }
    spec:
      containers:
        - name: user
          image: asia-southeast1-docker.pkg.dev/peerprep2/backend-microservices/user-service:dev      # built into minikube
          ports: [{ containerPort: 3001 }]
          resources:  
            limits:
              memory: "1Gi"
              cpu: "250m"
          env:
            - name: PORT
              value: "8081"
            - name: MONGO_URI
              value: "mongodb://mongoadmin:mongopass@user-mongo:27017/userdb?authSource=admin"
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: app
spec:
  selector: { app: user-service }
  ports:
    - port: 80
      targetPort: 3001
